# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore environment-specific files
.env

#todo text
todo.docx

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store